img {
    border: 1px solid #D1C9B5; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    height: 250px;
  }
  
img:hover {
    box-shadow: 0 0 2px 1px #e8cebf;
  }

html{
    background-color: #fffef2;
}
header{
    background-color: #e8cebf;
    height: 150px;
    align-content: center;
}
h1 {
    font-family: 'Raleway';font-size: 60px;
    color: #fffef2;
    text-align: center;
}

#imgone{
    margin-left: 40%;
}

#imgtwo{
    margin-left: 38%;
}

#imgthree{
    margin-left: 35%;
}

h3{
    text-align: center;
    font-family: 'Playfair Display';font-size: 30px;
    color:#e8cebf
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 1%;
    margin-left: 25%;
    margin-right: 25%;
}

footer{
    text-align: center;
    font-family: 'Playfair Display';font-size: 15px;
    color:#e8cebf
}